@charset "UTF-8";

:root {
  --color-bg-dark: rgb(0, 0, 0);
  --color-bg-dark-match: rgb(71, 71, 71);
  --color-bg-light: rgb(255, 255, 255);
  --color-bg-light-match: rgb(232, 232, 232);
  --color-bg-blend: rgba(179, 179, 179, 0.185);
  --color-main: rgb(47, 97, 67);
  --color-link: rgb(70, 119, 188);
  --variable-object-radius: .375rem;
  --variable-object-speed: .125s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--color-bg-dark);
    --font: var(--color-bg-light-match);
    --off: rgb(128, 128, 128);
    --dull: rgb(114, 114, 114);
    --near: rgb(32, 32, 32);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--color-bg-light);
    --font: var(--color-bg-dark-match);
    --off: rgb(143, 143, 143);
    --dull: rgb(130, 130, 130);
    --near: rgb(246, 246, 246);
  }
}

body {
  max-width: 700px;
  margin: auto;
  background: var(--bg);
  color: var(--font);
  line-height: 1.75;
  font-family: 'blinkmacsystemfont', 'helvetica neue', 'arial', 'noto sans', 'sans-serif',
    'apple color emoji', 'segoe ui', 'roboto', 'segoe ui emoji',
    'segoe ui symbol', 'noto color emoji';
}

a {
  color: inherit;
  text-decoration-color: var(--off);
  transition:
    var(--variable-object-speed) background ease-in-out,
    var(--variable-object-speed) color ease-in-out;
}

a:hover {
  color: var(--bg);
  background: var(--font);
}

header {
  margin: 44px 0 104px 0;
}

pre {
  border-radius: var(--variable-object-radius);
}

::-webkit-scrollbar {
  border-radius: none;
  background: var(--color-bg-blend);
}

::-webkit-scrollbar-thumb {
  background: var(--font);
  border-radius: var(--variable-object-radius);
}

pre::-webkit-scrollbar {
  border-bottom-left-radius: var(--variable-object-radius);
  border-bottom-right-radius: var(--variable-object-radius);
}

pre::-webkit-scrollbar-thumb {
  border-radius: var(--variable-object-radius);
}