@charset "UTF-8";

:root {
  --color-bg-dark: rgb(0, 0, 0);
  --color-bg-dark-match: rgb(46, 48, 50);
  --color-bg-light: rgb(255, 255, 255);
  --color-bg-light-match: rgb(248, 248, 248);
  --color-bg-blend: rgba(117, 117, 117, 0.185);
  --color-main: rgb(47, 97, 67);
  --color-link: rgb(70, 119, 188);
  --variable-object-radius: .375rem;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--color-bg-dark);
    --font: var(--color-bg-light-match);
    --term: var(--color-bg-dark-match);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--color-bg-light);
    --font: var(--color-bg-dark-match);
    --term: var(--color-bg-light-match);
  }
}

body {
  max-width: 800px;
  margin: auto;
  background: var(--bg);
  color: var(--font);
  font-family: 'blinkmacsystemfont', 'helvetica neue', 'arial', 'noto sans', 'sans-serif',
    'apple color emoji', 'segoe ui', 'roboto', 'segoe ui emoji',
    'segoe ui symbol', 'noto color emoji';
}

a {
  color: inherit;

}

main a {
  text-decoration: underline;
  text-decoration-color: gray;
}

main a:hover {
  color: black;
  background: white;
}

main.post a {
  text-decoration-color: rgb(255, 255, 195);
}

.me {
  text-decoration: none;
}

.posts,
.tags,
header,
.post-body {
  margin-top: 44px;
}

header {
  margin-bottom: 104px;
}

.date {
  color: gray;
  margin-left: 12px;
}

.tags {
  display: inline-block;
}

pre {
  border-radius: var(--variable-object-radius)
}

.post-ln {
  margin: 5px 0;
}